.about_Me {
  height: 100vh;
  margin-top: 10em;
}
.section_About {
  margin-top: 5em;
  .images_Profile img:hover {
    transform: rotateZ(10deg);
    transition: 0.5s;
    cursor: pointer;
  }
}
.about {
  span {
    font-weight: bold;
    font-size: 20px;
  }
}
.skills {
  font-size: 50px;
  margin-top: 3em;
  text-align: center;
}

.box {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.section {
  height: 100vh;
}
@media screen and (max-width: 700px) {
  section {
    margin-top: 350px;
  }
  .discipline {
    margin-top: 10px;
    margin-right: -10px;
    font-size: 50px;
  }
}