// ============ GOOGLE FONT ===========
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// ============ COLOR ===========
$black: rgb(0, 0, 0);
$blue: rgb(0, 17, 255);
$gray: rgb(221, 221, 221);
$white: rgb(255, 255, 255);
$purple: rgb(218, 4, 153);
$background: rgb(253, 248, 243);
